<div id="sideBarDiv" class="tab">
  <button class="sideTab tablinks montserrat bold ls-small uppercase " (click)="goToHomePage()">Home</button>
  <button class="sideTab tablinks montserrat bold ls-small uppercase" (click)="goToTopicsPage()">Topics</button>
  <button class="sideTab tablinks montserrat bold ls-small uppercase" (click)="goToInfoPage()">Info</button>
  <button class="sideTab tablinks montserrat bold ls-small uppercase" *ngIf="isLoggedIn" (click)="logout()">Log Out</button>
  <button class="sideTab tablinks montserrat bold ls-small uppercase"  *ngIf ="!isLoggedIn" (click)="login()">Log in</button>
</div>
