<div class="card" (click)="goToTechnologyForum()">
    <div class="card-body">
      <h5 class="card-title">{{topicCard.name_technology}}</h5>
      <p class="card-text">{{topicCard.description_technology}}</p>
    </div>
</div>

<div class="card" (click)="goToAngularForum()">
  <div class="card-body">
    <h5 class="card-title">{{topicCard.name_angular}}</h5>
    <p class="card-text">{{topicCard.description_angular}}</p>
  </div>  
</div>

<div class="card" (click)="goToReactForum()">
    <div class="card-body">
      <h5 class="card-title">{{topicCard.name_react}}</h5>
      <p class="card-text">{{topicCard.description_react}}</p>
    </div>  
  </div>
  
