<div class="card" (click)="goToTechnologyForum()">
    <div class="card-body">
      <h5 class="card-title montserrat uppercase bold">{{topicCard.name_technology}}</h5>
      <p class="card-text raleway uppercase">{{topicCard.description_technology}}</p>
    </div>
</div>

<div class="card" (click)="goToAngularForum()">
  <div class="card-body">
    <h5 class="card-title montserrat uppercase bold">{{topicCard.name_angular}}</h5>
    <p class="card-text raleway uppercase">{{topicCard.description_angular}}</p>
  </div>  
</div>

<div class="card" (click)="goToReactForum()">
  <div class="card-body">
    <h5 class="card-title montserrat uppercase bold">{{topicCard.name_react}}</h5>
    <p class="card-text raleway uppercase">{{topicCard.description_react}}</p>
  </div>  
</div>

<div class="card" (click)="goToDjangoForum()">
  <div class="card-body">
    <h5 class="card-title montserrat uppercase bold">{{topicCard.name_django}}</h5>
    <p class="card-text raleway uppercase">{{topicCard.description_django}}</p>
  </div>  
</div>

<div class="card" (click)="goToJavascriptForum()">
  <div class="card-body">
    <h5 class="card-title montserrat uppercase bold">{{topicCard.name_javascript}}</h5>
    <p class="card-text raleway uppercase">{{topicCard.description_javascript}}</p>
  </div>  
</div>
<div class="card" (click)="goToCsharpForum()">
  <div class="card-body">
    <h5 class="card-title montserrat uppercase bold">{{topicCard.name_Csharp}}</h5>
    <p class="card-text raleway uppercase">{{topicCard.description_Csharp}}</p>
  </div>  
</div>

<div class="card" (click)="goToPythonForum()">
  <div class="card-body">
    <h5 class="card-title montserrat uppercase bold">{{topicCard.name_python}}</h5>
    <p class="card-text raleway uppercase">{{topicCard.description_python}}</p>
  </div>  
</div>

<div class="card" (click)="goToGeneralForum()">
  <div class="card-body">
    <h5 class="card-title montserrat uppercase bold">{{topicCard.name_general}}</h5>
    <p class="card-text raleway uppercase">{{topicCard.description_general}}</p>
  </div>  
</div>
  
