<div id="fixedHeader">
  <p id="forumHeader">{{forumHeader}}</p>
  <p id="forumDescription">{{forumDescription}}</p>
  <hr>
</div>
<div id="fixedBody">
  <div *ngFor="let thread of threadsAll | async" id="forumCards">
    <div (click)="goToDetailPage(thread)" class="card">
      <div class="card-body">
        <h5 class="card-title">{{thread.title}}</h5>
        <p>{{thread.body}}</p>
        <p>{{thread.user}}</p>
      </div>  
    </div>
  </div>
</div>
<div id="fixedFooter">
    <div class="tab">
      <button class="tablinks" (click)="goToPostPage()">Create a Thread</button>
    </div>
</div>


