#forumHeader {
    font-size: 40px;
    text-align: center;  
}

#forumCards {
    margin-bottom: 5px;
}

#forumDescription {
    text-align: center;
}

#fixedHeader {
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: gray;
}

#fixedFooter {
    text-align: center;
    width: 100%;
    position: sticky;
    bottom: 0;
    z-index: 10;
    background-color: gray;
}

#fixedBody {
    position: relative;
}
