.welcomeDiv {
    margin: 15px;
    color: #E7DFDD;
    font-weight: bold;
}

#topHeader {
    font-size: 50px;
    text-align: center;
}
hr {
    background-color: #E7DFDD;
}
.raleway{font-family: 'Raleway'}