

#mainDetailDiv {
    margin: 15px;
    border: 1px solid #C0B283;
}

#mainDetailInner {
    margin: 5px;
}

#detailTitle {
    text-align: center;
    font-size: 35px;
}

#textArea {
    width: 500px;
    height: 200px;
}

#commentTitle {
    font-size: 45px;
}