<div id="mainDetailDiv">
  <div id="mainDetailInner">
    <div class="raleway bold"id="detailHeader">
      <div>
        <p>User: {{(threadToDisplay | async)?.user}}</p>
      </div>
      <div>
        <p>Topic: {{(threadToDisplay | async)?.topic}}</p>
      </div>
      <div>
        <p>Date: {{(threadToDisplay | async)?.date}}</p>
      </div>
    </div>
    <hr>
    <div>
      <p class="montserrat bold"id="detailTitle">{{(threadToDisplay | async)?.title}}</p>
    </div>
    <hr>
    <div>
      <p class="raleway">{{(threadToDisplay | async)?.body}}</p>
    </div>
  </div>
</div>
<div>
  <p id="commentTitle">Comments:</p>
</div>
<div id="secondMain">
  <div *ngFor="let comment of comments | filterComments:threadId async" id="forumCards">
    <div class="card">
      <hr class="topBottomHr">
       <div class="mainCard" class="card-body">
          <p>{{comment.body}}</p>
          <p id="title" class="card-title montserrat bold">{{comment.user}}</p>
          <p>{{comment.date}}</p>
        </div>  
        <hr class="topBottomHr">
      </div>
    </div>
</div>
<hr>
<div id="thirdMain">
    <div class="card card-default">
        <div class="card-heading">
            <h4 id="commentTitle" class="card-title montserrat bold">Create a comment</h4>
        </div>
        <div class="card-body">
            <div>
              <div>
                  <label class="raleway">User Name:</label>
                  <br>
                  <input [(ngModel)]="userName" #newUser>
              </div>
              <div>
                  <label class="raleway">Comment:</label>
                  <br>
                  <textarea [(ngModel)]="body"  class="raleway" id="textArea" #newBody></textarea>
              </div>
              <button (click)="createComment(newUser.value, newBody.value); newUser.value=''; newBody.value=''">Post</button>    
          </div>
        </div>
    </div>
</div>